.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/app/pdf-exports
storage/app/private
storage/app/public
storage/database
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
database/database.sqlite
public/build
public/hot
.DS_Store
npm-debug.log
yarn-error.log
docker-compose.override.yml
